[submodule "libs/lerobot"]
    path = libs/lerobot
    url = https://gitcode.com/openharmony-robot/lerobot.git
    ignore = dirty
[submodule "src/pymoveit2"]
	path = src/pymoveit2
	url = https://gitcode.com/ib_robot/pymoveit2.git
    branch = main
    ignore = dirty
[submodule "src/rosclaw"]
	path = src/rosclaw
	url = https://gitcode.com/ib_robot/rosclaw.git
[submodule "src/omni_wheel_controller"]
	path = src/omni_wheel_controller
	url = https://gitcode.com/ib_robot/omni_wheel_controller.git
	branch = main
	ignore = dirty
[submodule "libs/Livox-SDK2"]
	path = libs/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
	ignore = dirty
[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
	ignore = dirty
[submodule "src/fast_lio"]
	path = src/fast_lio
	url = https://github.com/hku-mars/FAST_LIO.git
	branch = ROS2
	ignore = dirty
