<?xml version="1.0"?>
<model>
  <name>aruco_a4</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>IB-Robot</name>
  </author>
  <description>
    A4 paper sheet (210 x 297 x 1 mm) with ArUco markers DICT_4X4_50
    ID3 (left) and ID2 (right). Used for sim camera alignment calibration.
  </description>
</model>
